/* ---------------------FOOTER---------------------- */

footer {
    width: 100%;
    background-color: #1c1a2e;
}

footer > section > img[alt="logo-pagina"] {
    width: 15vw;
    max-width: 100px;
}
footer > section >h2 {
    margin: 0;
    font-size: min(8vw,40px);
}
footer > section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


#REDES-SOCIALES {
    padding-top: 0px;
    margin-top: 10px;
    font-size: 4vw;
    display: flex;
    flex-direction: column;

}

section[id="REDES-SOCIALES"] > div >img {
    width: 5vw;
    max-width: 50px;
}

footer > section >h3 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: min(5vw,30px);
}



footer > section[id="DIRECCION"] > div {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
footer > section[id="DIRECCION"] > div > h3,p{
    margin: 5px;  
    font-size: min(3vw,30px);
}



footer > section[id="POLITICAS"] {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
    font-size: min(3vw,20px);
}

footer > section[id="POLITICAS"] > a {
    color: rgb(198, 2, 212);
    text-decoration: none;
}

/* CSS PARA VERSION NO COMPATIBLE */