

#presentacion {
    grid-row: 1;
    padding-top: 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

button{
    border-color: #5b5fc9;
    border-width: 5px;
    box-shadow: none;
    border-style: solid;
}
    #presentacion h1{
        margin: 0; 
        margin-top: 5px; 
        font-size: min(10vw,60px);
        
        text-align: center
    }
    #presentacion p{
        font-size: min(4.3vw,30px);
        margin-left: 0;
        margin-right: 0;
        max-width: 80%;
    }

    #presentacion img{
        margin-top: 20px;    
        max-width: 450px;
    }

#logo-header {
    width: 70%;
}

main{
    margin-top: 5vw;
    grid-row: 2;
}

/****************** CATEGORIAS ***********************/
.subtitulos {
    text-align: center;
    font-size: min(7vw,40px);
    box-sizing: border-box;
    margin-bottom: 40px;
}

#clasificacion{
    margin-bottom: 5vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clasificacion-category {
    width: 85%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    text-decoration: none;

}

.category-article {
    box-sizing: border-box;
    border: 4px solid #433d66;
    background-color: #252043;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.texto-nav-links {
    margin: 10px 0 2px;
    font-size: min(4.3vw,25px);
}

.Imagenes-categorias {
    width: 100%;
}

section[id="clasificacion-category"] > button {
    text-decoration: none;
    max-width: 242.5px;
    color: white;
}

/* ------------------------------PRODUCTOS-------------------------------- */
section > article > a {
    text-decoration: none;
    color: inherit;
}

.productos {
    text-align: center;
    margin-bottom: 50px;
    background-size: cover;
    background-position: top;
}

.producto1 {
    background-image: url(IMG-PRODUCTOS/FONDO.avif);
}

.producto2{
    background-image: url(IMG-PRODUCTOS/FONDO1.webp);

}

.producto3{
    background-image: url(IMG-PRODUCTOS/FONDO3.webp);
}

.producto4{
    background-image: url(IMG-PRODUCTOS/FONDO4.webp);

}

.Degradado-productos-izquierda{
    background: linear-gradient(to left, #141414,transparent 80%);
    display: grid;
    grid-template-columns: 50% 1fr;
}

.Degradado-productos-derecha{
    background: linear-gradient(to right, #141414,transparent 80%);
    display: grid;
    grid-template-columns: 1fr 50%;
}

.Degradado-productos-izquierda > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Degradado-productos-derecha > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenes-productos {
    width: 45%;
    max-width: 200px;
    margin: 20px auto;
}

.nombre-producto {
    font-size: 5vw;
}

.precios-productos {
    font-size: 3vw;
}

/* CSS PARA VERSION NO COMPATIBLE */



footer {
    margin-top: 5vw;
    grid-row: 3;

}